<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'admin/shared/header' %>
    <div id="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
